@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800');

body {
  background-color: #2B2B2B;
  color: #F9F9F9;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Wallet {
  padding-top: 1em;
}

.WalletAddress {
  user-select: none;
  cursor: pointer;
  background: -webkit-linear-gradient(
    #1743D1,
    #005CE2,
    #006DE8,
    #007AE2,
    #0085D2,
    #008DBC,
    #0095A1,
    #009B86,
    #00A06C,
    #00A455
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace !important;
}

ul {
  padding-inline-start: 0;
}

.select-none {
  user-select: none;
}

.container {
  margin-top: 30px;
  padding: 1em 1em 0 1em;
}

.DisconnectedPlaceholder {
  max-width: 268px;
  display: flex;
  font-size: 1rem;
  color: #A5A5A5;
  padding-left: 0.5em;
  padding-top: 2em;
}

.OnlineStatus {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.BlockNumber-height {
  padding-left: 0.5em;
}

.BlockNumber {
  z-index: 99;
  border-radius: 50px;
  padding: 8px 8px 8px 24px;
  background-color: #191919;
  position: fixed;
  bottom: 48px;
  font-size: smaller;
  user-select: none;
  box-shadow: 0 15px 35px -5px rgb(50 88 130 / 32%);
}

.BlockNumber::before {
  content: '';
  position: absolute;
  width: 8px;
  background: rgb(151, 244, 99);
  height: 8px;
  border-radius: 100%;
  top: 50%;
  left: 8px;
  transform: translate3d(0px, -4px, 0px);
}

.BlockNumber > span {
  padding-right: 0.5em;
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.READONLY,
.WALLETCONNECT {
  display: none;
}

.BlockNumber-link {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

button[data-disconnected] {
  box-shadow: none !important;
  color: #E9E9E9 !important;
  background-color: transparent !important;
  border: 2px solid #A5A5A5 !important;
}

button {
  max-width: 268px;
  width: 100%;
  appearance: none;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  background-color: #FF0081;
  border-radius: 50px;
  box-shadow: rgba(255, 0, 130, 0.5) 0 2px 25px;
  color: #FFF;
  border: 2px transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 28px;
  padding: 0px 12px;
  position: relative;
  text-align: center;
  margin-top: 1em;
  transition: transform 0.1s ease-in, box-shadow 0.25s ease-in;
}
